{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-tailwindcss"]
	
}